4 types of function in user defined :-

1 . Non parameterized function

In [38]:
#define a function 
def message ():
    print("good morning ")

In [39]:
#call(use)
message()

good morning

In [49]:
def sunny():
    return ('hello')
print(sunny())

hello

In [48]:
print(sunny())

hello

In [7]:
def si ():
    p = int(input("Enter Principal Amount:"))
    r = float(input("Enter rate of Interest:"))
    t = int (input("Enter Time in years :"))
    si = p*r*t/100
    print(f'Simple Interest is {si}')

In [8]:
si()

Simple Interest is 27.0

2 . Prametreized function 
  - Required Prameter
  - default   "
  - keyword  argument 
  - variable argument 
  - variable keyword argument

In [9]:
def hypotenuse(p,b):
    h = (p**2+b**2)** .5
    print(f'hyp:{h}')

In [11]:
hypotenuse(30,40)

hyp:50.0

In [12]:
def hypotenuse (p:int, b:int):
    ''' 
    This function take perpendicular and base to calculatre hypotenuse
    '''
    h = (p**2 + b**2) ** .5
    print(f'hyp:{h}')

In [14]:
hypotenuse(45,30)

hyp:54.08326913195984

In [21]:
# types of error 
# 1. hypotenuse(32)
# 2. hypotenuse (1,2,3)
# 3. hypotenuse ()

3. default parameters
- always start giving defaults from the right side (end)
- default values can be of any datatypes

In [16]:
def summer (a,b,c = 0 ,d= 0):
    print(a+b+c+d)

In [17]:
summer (42,53,65,75)

235

In [18]:
summer(54,65)

119

In [19]:
summer (85,65)

150

In [22]:
def area_of_circle(radius = 1):
    area = 22/7* radius **2
    print(area)

In [23]:
area_of_circle(10)

314.2857142857143

4. keywords arguments ( named arguments )  , datatype = tuple

In [24]:
summer (1,2,5,6)

14

In [29]:
summer(a=1 , b=5,c=6,d=9)
summer(1,2,c=10,d= 8)
summer(1,2,d=8,c=10)
summer(a=5,b=6,c=9,d=7)
area_of_circle(45)

21
21
21
27
6364.285714285714

5. variable arguments , data type =

In [31]:
def mean (*data):
    ans = sum(data)/len(data)
    print(f"average:{ans}")

In [32]:
mean(5,6,8)

average:6.333333333333333

In [33]:
mean(5,6,6,5,5,4,5,1,5,55)

average:9.7

6. Variable keyword argument , datatype = dictionary

In [1]:
def task (**details ):
    for name, value in details.items():
        print(f'{name:10}{value}')

In [2]:
task(title= "learn data analytics", duration = "1 day",credit = 1)

title     learn data analytics
duration  1 day
credit    1

In [5]:
task  (name= "Bring food",
        details = "brinjal,potato,tomato",
        budget=300,
        date = "26-sept-2023"
        )

name      Bring food
details   brinjal,potato,tomato
budget    300
date      26-sept-2023

function returning value

In [6]:
def hypotenuse (p:int, b:int):
    ''' 
    This function take perpendicular and base to calculatre hypotenuse
    '''
    h = (p**2 + b**2) ** .5
    return h

In [7]:
ans = hypotenuse (3,4)
print(ans)

5.0

In [8]:
def cube_area(side):
    return 6* side **2

In [9]:
cube_area (10)

600

In [10]:
def cube_volume(side):
    return side**3

In [11]:
cube_volume (50)

125000

In [13]:
ca = cube_area(23)
cv = cube_volume(45)
print(ca,cv)

3174 91125

In [14]:
x = cube_volume(10)+50
print(x)

1050

waf to returns the number of words in string

In [15]:
def word_count(data):
    return len(data.split())

In [16]:
words = word_count("this is a sample string of data ")
print(f'total words:{words}')

total words:7

remove all vowels from a string using a function

In [1]:
line = 'My name is bhupendra singh adhikari'
line.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

'My nm s bhpndr sngh dhkr'

In [5]:
def remove_vowels(content):
    vowels = "aeiouAEIOU"
    for char in vowels:
        content = content.replace(char,'')
    return content

In [6]:
remove_vowels('this is a sample string')

'ths s  smpl strng'

find all the indexes of a substring in a given string using a function

In [7]:
def find_indexes(substr,content):
    start_pos = 0
    idx_list =[]
    for i in range (content.count(substr)):
        idx = content.find(substr,start_pos)
        if idx == -1:
            break
        idx_list.append(idx)
        start_pos = idx+1
    return idx_list

In [8]:
find_indexes('a',"the is a content,that contains")

[7, 19, 26]

In [10]:
# extracts all bi- grams from a string using a function 

def bigrams(msg = "one two three four"):
    words = msg.split()
    f,s = 0,1
    for i in range (len (words)):
        if s == len(words):
            break
        print(words[f],words[s], end = ' | ')
        f += 1
        s += 1

In [11]:
bigrams()

one two | two three | three four |

In [15]:
bigrams("the is a content ,that contains")

the is | is a | a content | content ,that | ,that contains |

In [8]:
#remove all punctutions from a string

def remove_punctuation(content):
    punc='@#^*?;:<>!'
    for char in punc:
        content = content.replace(char,'')
    return content

In [10]:
remove_punctuation('this is a what i said@ you were in >hello> what >is :good or; bad ')

'this is a what i said you were in hello what is good or bad '